* { margin: 0px; padding: 0px; box-sizing: border-box;}
main { height: 1000px; padding-top: 100px;}

.header {
    display: flex;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid #d5d5d5;
}

#logo {
    flex-basis: 500px;
    text-align: center; font-weight: bold; font-size: 1.5rem;
}

#nav {
    flex-grow: 1;
    display: flex;
    justify-content: right;
    margin-right: 100px;
}

#nav span {
    padding: 20px;
    font-size: 1.1rem; font-weight: bold;
}

.container {
    display: flex;
    justify-content: center; align-items: center;
}
.container article {
    display: flex; flex-direction: column;
    margin-right: 200px;
}
article h2 {
    margin-bottom: 30px; font-size: 2rem;
}
article span {
    margin-bottom: 5px;
}

#img {
    border: 2px solid black;
    height: 600px; width: 300px; border-radius: 5%;
}